$breakpoint-desktop: 1440px;
@media (min-width: $breakpoint-desktop) {

 

    .header-container{
        width: 90%;
        margin: 0 auto;
    }

    .navbar {
        padding-top: 20px;
        
    }

    .img-logo {
        width: 250px;
    }

    .boton1 {
        padding: 14px 65px;
        font-size: 22px;
    }

    h1 {
        font-size: 40px;
        width: 30rem;
    }

    .p1 {
        font-size: 22px;
    }

    .inf-seccion {
        display: flex;
    }

    .inf-seccion-text {
        margin-top: 180px;
        text-align: left;
    }

    .imagen1 {
        margin-left: 60px;
        width: 48%;
    }

    .boton2{
        font-size: 20px;
        padding: 21px 51px;
        border-radius: 40px;
        margin-left: 10px;
        margin-bottom: 50px;
    }


   .art{
            p {
        
                font-size: 18px;
               
            }
            h2 {
                
                font-size: 27px;
                margin-left: 20px;
            }
        }


    .art {
       display: flex;
       align-items: center;
       padding: 20px;
       text-align: left;

    }

    .art-text{
        order:1;
    }

    .imagen2,
    .imagen4 {
        width: 45%;
        order: 2;
}
    .imagen3 {
        width: 45%;
    }


    .float-card{
        width: 51%;
        left: 20rem;

        .primary-button{
             font-size: 33px;
             margin: 7px;

             h3{
                font-size: 30px;
                margin: 7px;
             }
        }        
        
    }



    .footer-li{
        width: 38%;
    }

    .footer-links{
        margin: 1px;
        position: absolute;
        left: 54rem;
        bottom: -116rem;
        font-size: 17px;

    }




    .footer-icons{
        position: absolute;
        left: 80rem;
        bottom: -104rem;
    }

    .footer-copyright{
        font-size: 10px;
        left: 30rem;
        margin-left: 69rem;
        margin-top: 61px;
    }
    

}