* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

body {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

header {
  background-color: rgb(235, 251, 255);
  background-image: url("./images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
}

nav {
  margin: 1px 12px 19px;
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h1 {
  padding-left: 25px;
  font-size: 25px;
  width: 327px;
  color: hsl(192deg, 100%, 9%);
}

.p1 {
  padding: 18px 19px;
  color: hsl(192deg, 100%, 9%);
}

.boton1 {
  margin: 15px 2px;
  padding: 5px 26px;
  background-color: #FFFFFF;
  border-radius: 20px;
  font-weight: 600;
  font-size: 17px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.boton2 {
  padding: 12px 46px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 19px;
}

.boton3 {
  padding: 12px 46px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  background-color: hsl(322deg, 100%, 66%);
  border-radius: 19px;
}

.img-logo {
  width: 147px;
  height: 50%;
  margin: 22px 0px;
}

.inf-seccion {
  margin: 57px 0px 0px 0px;
}

.imagen1 {
  padding: 38px 0px 0px 7px;
}

.imagen1,
.imagen2,
.imagen3,
.imagen4 {
  width: 87%;
  height: 100%;
}

#art_container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 83%;
  margin: auto;
}

article div {
  padding: 18px;
  margin: 15px;
}
article div p {
  color: hsl(208deg, 11%, 55%);
  font-size: 14px;
  width: 85%;
  margin-left: 20px;
}
article div h2 {
  color: hsl(192deg, 100%, 9%);
  font-size: 20px;
}

.art {
  border-radius: 10px;
  padding: 10px 0px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.float-card {
  border-radius: 10px;
  padding: 10px 10px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
  height: 120px;
  background-color: #ffffff;
  color: hsl(192deg, 100%, 9%);
  padding: 20px;
  width: 75%;
  position: relative;
  top: 40px;
  left: 27px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsl(192deg, 100%, 9%);
  color: white;
}

.footer-logo-img {
  filter: brightness(0) invert(1);
  padding-top: 120px;
  margin: 20px;
}

.footer-information {
  display: flex;
  text-align: left;
  margin-top: 20px;
}

.footer-information-img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.footer-information p {
  margin-left: 20px;
}

.footer-links {
  display: flex;
  text-align: left;
  margin-top: 50px;
  margin-left: 20px;
}

.footer-links li {
  margin-bottom: 15px;
}

.footer-links a {
  color: white;
}

.footer-icons-img {
  width: 30px;
  filter: brightness(0) invert(1);
  margin: 20px 0px;
}

.footer-copyright {
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  .header-container {
    width: 90%;
    margin: 0 auto;
  }
  .navbar {
    padding-top: 20px;
  }
  .img-logo {
    width: 250px;
  }
  .boton1 {
    padding: 14px 65px;
    font-size: 22px;
  }
  h1 {
    font-size: 40px;
    width: 30rem;
  }
  .p1 {
    font-size: 22px;
  }
  .inf-seccion {
    display: flex;
  }
  .inf-seccion-text {
    margin-top: 180px;
    text-align: left;
  }
  .imagen1 {
    margin-left: 60px;
    width: 48%;
  }
  .boton2 {
    font-size: 20px;
    padding: 21px 51px;
    border-radius: 40px;
    margin-left: 10px;
  }
  .imagen2,
.imagen3,
.imagen4 {
    width: 45%;
  }
  .art {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */